<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Чат</title>
</head>
<body>
    <div id="chat-window"></div>
    <div id="input-container">
        <input id="message-input" type="text" placeholder="Введите сообщение" maxlength="50">
        <span id="message-limit"></span>
        <button id="send-button">Отправить</button>
    </div>

    <script src="/static/js/chat.js"></script>
</body>
</html>
